{
    "DISCORD_PUBLIC_KEY": "<INSERT PUBLIC KEY FOR REGISTERED DISCORD BOT HERE>",
    "DISCORD_BOT_TOKEN": "<INSERT DISCORD BOT TOKEN FOR REGISTERED DISCORD BOT HERE>",
    "DB_LOCAL_HOST": "<IF USING A LOCAL DYNAMODB, SPECIFY HOST HERE. EXAMPLE: localhost>",
    "DB_LOCAL_PORT": "<IF USING A LOCAL DYNAMODB, SPECIFY PORT HERE. EXAMPLE: 8000>",
    "STAGE": "${self:provider.stage}",
    "VWARS_TABLE": "${self:custom.vwarsTableName}"
}